html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  position: fixed;
  height: 69px;
  width: 100%;
  background-color: black;
  opacity: 0.9;
  top: 0px;
}
#logo {
  height: 50px;
  width: auto;
  padding-left: 10px;
}
nav {
  padding-right: 10px
}
nav span {
  padding: 0 8px;
}
a {
  color: seashell;
}
main {
  margin-top: 70px;
}
#mission {
  background-image: url("../img-mission-background.jpg");
  height: 700px;
  display: flex;
  align-items: center;
}
.missionbox {
  background-color: black;
  width: 100%;
}
#container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  height: 200px;
  width: 300px;
  margin: 10px 25px;
}
#row1,
#row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
#row1 h4{
    margin-top: 0;
}
#row2 h4{
    margin-top: 0;
}
#row2 {
  margin-bottom: 50px;
}
#locations {
  background-image: url("../img-locations-background.jpg");
  height: 500px;
  display: flex;
  flex-flow: nowrap column;
}
#container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
article.Lbox {
  background-color: black;
  opacity: 1;
  width: 300px;
  margin: 15px 20px;
}
#Lbanner h2 {
  margin-bottom: 0;
  margin-top: 100px;
}

#container3 {
  height: 200px;
}
#container3 h2 {
  margin-top: 10px;
}
#copyright {
  text-align: left;
}
